@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif
}

[data-nav]:focus {
    outline: none;
    border-radius: 4px;
    
    box-shadow:
      0 0 0 3px black,
      0 0 0 5px white;
}